@import "./variables";

.boton {
    color: white;
    position: absolute;
    font-size: $tipografia-sizestandar;
    font-family: $tipografia-secundaria;
    font-weight: bold;
    text-decoration: none;
    background-color: $color-terciario;
    border-radius: 0.2rem;
    margin: 18rem 4.5rem;
    padding: 0.6rem 1rem;
    border: 1rem;

    &:hover{
        color: white;
        background-color: rgb(153, 127, 255);
        font-family: $tipografia-secundaria;
        font-weight:800;
    }
}