.boton2{
    color: white;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: #0a0404;
    border-radius: 0.2rem;
    margin: 0.5rem 11rem 3rem;
    padding: 0.6rem 1rem;
    border: 1rem;

    &:hover{
        background-color: rgb(153, 127, 255);
        font-family: 'Raleway', sans-serif;
        font-weight:800;
    }
}