@import "./variables";

.footer{
    @include flex-row-center;
    justify-content:space-between;
    background-color: black;
    display: flexbox;
    max-height: 30vh;

    &__icon{
        margin: 2rem;
        padding: 3rem;
    }
    &__element{
        max-width: 30px;
        margin: 0.8rem;
    }
    &__text{
        color: white;
        font-size: $tipografia-sizestandar;
        font-family: $tipografia-primaria;
        font-weight:bold;
        letter-spacing: 0.05rem;
        margin: 3rem;
        padding: 0.5rem;
    }
}