$tipografia-primaria: 'Lato', sans-serif;
$tipografia-secundaria: 'Raleway', sans-serif;
$tipografia-parrafos: 'Inter Tight', sans-serif;

$tipografia-espaciadostandar: 0.05rem;

$color-primario: black;
$color-secundario: #424242;
$color-terciario: #0a0404;

$background-secundario: #0a090c;
$background-terciario: black;

$tipografia-sizestandar: 1rem;
$tipografia-sizeparrafo: 1.5rem;
$tipografia-sizetitulo: 2rem;
$tipografia-sizegrande: 3.1rem;

